.uploadbox {
  position: relative;
  width: 100%;
  height: 15rem;
  background-color: rgb(65, 105, 225);
  margin-top: 3rem;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  border: 2px white dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.uploadbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  gap: 0.5rem;
  background-color: yellow;
  border: none;
  outline: none;
  font-size: 16px;
  color: whiote;
  border-radius: 0.2rem;
  cursor: pointer;
  user-select: none;
}

.uploadbtn:active {
  outline: 2px solid rgb(0, 255, 242);
}

.dragdrop {
  position: relative;
  top: 1rem;
  color: white;
  user-select: none;
}

.largedropbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.719);
  z-index: 1000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
}

.innerdropbox {
  position: absolute;
  width: 90%;
  left: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filedrop {
  pointer-events: none;
}

.plusicon {
  width: 1.5rem;
}
