.converterbox {
  position: relative;
  width: 700px;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.644);
  left: 0;
  top: 0;
  z-index: 150;
}
